Repository aiogram/aiogram, pull requests merged in 2020-06, with the labels that each got.

#303 :sparkles: Add sentinel value for parse_mode which can be None itself
  aiogram/api/client/bot.py
  aiogram/api/methods/base.py
  aiogram/api/methods/edit_message_caption.py
  aiogram/api/methods/edit_message_text.py
  aiogram/api/methods/send_animation.py
  aiogram/api/methods/send_audio.py
  aiogram/api/methods/send_document.py
  aiogram/api/methods/send_message.py
  aiogram/api/methods/send_photo.py
  aiogram/api/methods/send_video.py
  aiogram/api/methods/send_voice.py
  aiogram/api/types/__init__.py
  aiogram/api/types/base.py
  aiogram/api/types/inline_query_result_audio.py
  aiogram/api/types/inline_query_result_cached_audio.py
  aiogram/api/types/inline_query_result_cached_document.py
  aiogram/api/types/inline_query_result_cached_gif.py
  aiogram/api/types/inline_query_result_cached_mpeg4_gif.py
  aiogram/api/types/inline_query_result_cached_photo.py
  aiogram/api/types/inline_query_result_cached_video.py
  aiogram/api/types/inline_query_result_cached_voice.py
  aiogram/api/types/inline_query_result_document.py
  aiogram/api/types/inline_query_result_gif.py
  aiogram/api/types/inline_query_result_mpeg4_gif.py
  aiogram/api/types/inline_query_result_photo.py
  aiogram/api/types/inline_query_result_video.py
  aiogram/api/types/inline_query_result_voice.py
  aiogram/api/types/input_media_animation.py
  aiogram/api/types/input_media_audio.py
  aiogram/api/types/input_media_document.py
  aiogram/api/types/input_media_photo.py
  aiogram/api/types/input_media_video.py
  aiogram/api/types/input_text_message_content.py
  tests/test_api/test_methods/test_base.py
Labels: enhancement, waiting

#369 Add setting current context of types
  aiogram/dispatcher/dispatcher.py
Labels: enhancement

#370 Add methods to register filters and middlewares
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/filters/factory.py
Labels: enhancement

#368 feat: mongo motor
  aiogram/contrib/fsm_storage/mongo.py
  aiogram/contrib/fsm_storage/mongo_aiomongo.py
  aiogram/contrib/fsm_storage/mongo_motor.py
  tests/contrib/fsm_storage/test_aiomongo.py
Labels: enhancement, new feature
