Repository aiogram/aiogram, pull requests merged in 2020-11, with the labels that each got.

#442 feat(InputFile): adding Pathlib to supporting types for files
  aiogram/types/input_file.py
Labels: enhancement

#454 Bot API 5.0
  README.rst
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/base.py
  aiogram/bot/bot.py
  aiogram/contrib/fsm_storage/rethinkdb.py
  aiogram/dispatcher/storage.py
  aiogram/dispatcher/webhook.py
  aiogram/types/__init__.py
  aiogram/types/audio.py
  aiogram/types/callback_query.py
  aiogram/types/chat.py
  aiogram/types/chat_location.py
  aiogram/types/chat_member.py
  aiogram/types/dice.py
  aiogram/types/inline_query.py
  aiogram/types/inline_query_result.py
  aiogram/types/input_media.py
  aiogram/types/input_message_content.py
  aiogram/types/location.py
  aiogram/types/message.py
  aiogram/types/message_id.py
  aiogram/types/proximity_alert_triggered.py
  aiogram/types/venue.py
  aiogram/types/video.py
  aiogram/types/webhook_info.py
  aiogram/utils/executor.py
  docs/source/examples/advanced_executor_example.rst
  docs/source/examples/broadcast_example.rst
  docs/source/examples/check_user_language.rst
  docs/source/examples/echo_bot.rst
  docs/source/examples/finite_state_machine_example.rst
  docs/source/examples/i18n_example.rst
  docs/source/examples/index.rst
  docs/source/examples/inline_bot.rst
  docs/source/examples/local_server.rst
  docs/source/examples/media_group.rst
  docs/source/examples/middleware_and_antiflood.rst
  docs/source/examples/payments.rst
  docs/source/examples/proxy_and_emojize.rst
  docs/source/examples/regexp_commands_filter_example.rst
  docs/source/examples/throtling_example.rst
  docs/source/examples/webhook_example.rst
  docs/source/examples/webhook_example_2.rst
  docs/source/index.rst
  examples/local_server.py
  requirements.txt
  setup.py
  tests/test_bot.py
Labels: api

#461 when entities are set, default parse_mode become disabled
  aiogram/bot/bot.py
Labels: bug

#465 fixed: Cannot send playlist of audio files
  aiogram/types/input_media.py
Labels: bug

#468 #467 Uncommented `attach_document` and `attach_audio` MediaGroup methods
  aiogram/types/input_media.py
Labels: bug
