Repository aiogram/aiogram, pull requests merged in 2020-09, with the labels that each got.

#414 Fix #413 parse entities positioning
  aiogram/utils/text_decorations.py
  tests/test_utils/test_text_decorations.py
Labels: bug

#420 Fix CallbackQuery.answer() returns nothing
  aiogram/types/callback_query.py
Labels: bug

#419 I18n example patch (added docs and fixed typos)
  aiogram/contrib/middlewares/i18n.py
  examples/i18n_example.py
Labels: docs

#415 hotfix(updates): CHOSEN_INLINE_RESULT is a correct API-term
  aiogram/types/update.py
  aiogram/utils/deprecated.py
  tests/test_utils/test_deprecated.py
Labels: breaking, bug, security

#422 Fix missing attributes for Animation class
  aiogram/types/animation.py
Labels: bug

#406 docs(readme): prettify readme, update downloads stats badge
  README.md
Labels: docs

#394 Add is_chat_creator method to ChatMemberStatus
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/chat_member.py
  aiogram/types/input_media.py
Labels: enhancement

#390 Add is_forward method to Message
  aiogram/types/message.py
Labels: enhancement

#397 fix(bot,dispatcher): do not use _MainThread event loop
  aiogram/bot/base.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/middlewares.py
Labels: bug

#424 hotfix(dispatcher): when DP.loop None
  aiogram/contrib/middlewares/environment.py
  aiogram/dispatcher/webhook.py
  aiogram/utils/executor.py
Labels: bug
