Repository aiogram/aiogram, pull requests merged in 2020-05, with the labels that each got.

#315 Update text decorations. Fix 'mention' generator and emoji offsets.
  aiogram/utils/markdown.py
  aiogram/utils/text_decorations.py
  poetry.lock
  tests/test_utils/test_text_decorations.py
Labels: enhancement

#316 Fix phone_number and bot_command entity types generation
  aiogram/utils/text_decorations.py
  tests/test_utils/test_text_decorations.py
Labels: enhancement

#318 Dev 3.x refactor sessions
  aiogram/api/client/session/aiohttp.py
  aiogram/api/client/session/base.py
  aiogram/api/methods/base.py
  docs/api/client/session/aiohttp.md
  mkdocs.yml
  tests/test_api/test_client/test_session/test_aiohttp_session.py
  tests/test_api/test_client/test_session/test_base_session.py
Labels: breaking, enhancement

#295 Check whether Python is 3.7+
  aiogram/__init__.py
Labels: enhancement

#331 Fix missing InlineQueryResultPhoto parse_mode field
  aiogram/types/inline_query_result.py
Labels: bug

#327 AIOG-T-25 refactor(handler): rename observers
  aiogram/__init__.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/router.py
  docs/dispatcher/class_based_handlers/callback_query.md
  docs/dispatcher/class_based_handlers/chosen_inline_result.md
  docs/dispatcher/class_based_handlers/error.md
  docs/dispatcher/class_based_handlers/inline_query.md
  docs/dispatcher/class_based_handlers/message.md
  docs/dispatcher/class_based_handlers/poll.md
  docs/dispatcher/class_based_handlers/pre_checkout_query.md
  docs/dispatcher/class_based_handlers/shipping_query.md
  docs/dispatcher/dispatcher.md
  docs/dispatcher/filters/command.md
  docs/dispatcher/filters/index.md
  docs/dispatcher/router.md
  docs/index.md
  poetry.lock
  pyproject.toml
  tests/deprecated.py
  tests/test_api/test_types/test_reply_keyboard_remove.py
  tests/test_dispatcher/test_deprecated.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_event/test_observer.py
  tests/test_dispatcher/test_router.py
Labels: breaking, enhancement

#281 feat: add pre-commit hooks
  .isort.cfg
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: enhancement

#333 Answer aliases
  aiogram/api/types/callback_query.py
  aiogram/api/types/inline_query.py
  aiogram/api/types/pre_checkout_query.py
  aiogram/api/types/shipping_query.py
  docs/api/methods/answer_callback_query.md
  docs/api/methods/answer_inline_query.md
  docs/api/methods/answer_pre_checkout_query.md
  docs/api/methods/answer_shipping_query.md
  docs/api/types/callback_query.md
  docs/api/types/inline_query.md
  docs/api/types/pre_checkout_query.md
  docs/api/types/shipping_query.md
  tests/test_api/test_types/test_callback_query.py
  tests/test_api/test_types/test_inline_query.py
  tests/test_api/test_types/test_pre_checkout_query.py
  tests/test_api/test_types/test_shipping_query.py
Labels: docs, new feature

#319 Fix behavior when a single string is passed as ID
  aiogram/dispatcher/filters/builtin.py
  tests/test_dispatcher/test_filters/test_builtin.py
Labels: bug

#337 Implement new middlewares
  Makefile
  aiogram/__init__.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/event/bases.py
  aiogram/dispatcher/event/event.py
  aiogram/dispatcher/event/handler.py
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/middlewares/abstract.py
  aiogram/dispatcher/middlewares/base.py
  aiogram/dispatcher/middlewares/error.py
  aiogram/dispatcher/middlewares/manager.py
  aiogram/dispatcher/middlewares/types.py
  aiogram/dispatcher/middlewares/user_context.py
  aiogram/dispatcher/router.py
  aiogram/utils/mixins.py
  docs/assets/images/basics_middleware.png
  docs/dispatcher/dispatcher.md
  docs/dispatcher/middlewares.md
  docs/dispatcher/middlewares/basics.md
  docs/dispatcher/middlewares/index.md
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_api/test_types/test_inline_query.py
  tests/test_api/test_types/test_shipping_query.py
  tests/test_dispatcher/test_deprecated.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_event/test_event.py
  tests/test_dispatcher/test_event/test_telegram.py
  tests/test_dispatcher/test_middlewares/__init__.py
  tests/test_dispatcher/test_middlewares/test_base.py
  tests/test_dispatcher/test_middlewares/test_manager.py
  tests/test_dispatcher/test_router.py
Labels: breaking, enhancement

#338 Add bump_versions.py script
  .apiversion
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  Makefile
  aiogram/__init__.py
  docs/_package_version.md
  docs/index.md
  poetry.lock
  pyproject.toml
  scripts/bump_versions.py
Labels: enhancement

#332 Download feature and URLInputFile
  aiogram/api/client/bot.py
  aiogram/api/types/__init__.py
  aiogram/api/types/downloadable.py
  aiogram/api/types/input_file.py
  docs/api/download_file.md
  docs/api/methods/add_sticker_to_set.md
  docs/api/methods/create_new_sticker_set.md
  docs/api/methods/send_animation.md
  docs/api/methods/send_audio.md
  docs/api/methods/send_document.md
  docs/api/methods/send_photo.md
  docs/api/methods/send_sticker.md
  docs/api/methods/send_video.md
  docs/api/methods/send_video_note.md
  docs/api/methods/send_voice.md
  docs/api/methods/set_chat_photo.md
  docs/api/methods/set_sticker_set_thumb.md
  docs/api/methods/set_webhook.md
  docs/api/methods/upload_sticker_file.md
  docs/api/types/animation.md
  docs/api/types/audio.md
  docs/api/types/document.md
  docs/api/types/file.md
  docs/api/types/input_file.md
  docs/api/types/input_media_animation.md
  docs/api/types/input_media_audio.md
  docs/api/types/input_media_document.md
  docs/api/types/input_media_photo.md
  docs/api/types/input_media_video.md
  docs/api/types/passport_file.md
  docs/api/types/photo_size.md
  docs/api/types/sticker.md
  docs/api/types/video.md
  docs/api/types/video_note.md
  docs/api/types/voice.md
  docs/api/upload_file.md
  mkdocs.yml
  tests/test_api/test_client/test_base_bot.py
  tests/test_api/test_client/test_bot.py
  tests/test_api/test_types/test_input_file.py
Labels: docs, new feature

#340 Added fields to ChatMember
  aiogram/api/types/chat_member.py
  docs/api/types/chat_member.md
  tests/test_api/test_types/test_chat_member.py
Labels: docs, enhancement

#336 feat(helpers): implement new descriptor with default value getter
  aiogram/api/client/session/base.py
  aiogram/utils/helper.py
  tests/test_api/test_client/test_session/test_base_session.py
  tests/test_utils/test_helper.py
Labels: new feature
