Repository aiogram/aiogram, pull requests merged in 2021-08, with the labels that each got.

#647 `towncrier` integration
  CHANGES.rst
  CHANGES/.template.rst.jinja2
  CHANGES/602.doc
  HISTORY.rst
  Makefile
  docs/changelog.rst
  docs/index.rst
  poetry.lock
  pyproject.toml
Labels: 3.x, docs, enhancement

#655 Update installation instructions
  docs/install.rst
Labels: 3.x, docs, enhancement

#653 Add `.editorconfig` support
  .editorconfig
  CHANGES/650.misc
Labels: 3.x, code style, new feature

#652 Redis storage speedup globals
  CHANGES/651.misc
  aiogram/dispatcher/fsm/storage/redis.py
Labels: 3.x

#658 Improve .editorconfig
  .editorconfig
Labels: enhancement, 3.x, code style

#649 aioredis v2 support
  aiogram/contrib/fsm_storage/redis.py
  docs/source/dispatcher/fsm.rst
Labels: new feature

#664 Feature/rework middlewares chain
  CHANGES/664.feature
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/router.py
  poetry.lock
  pyproject.toml
  tests/test_dispatcher/test_dispatcher.py
Labels: enhancement, breaking, 3.x
