Repository aiogram/aiogram, pull requests merged in 2021-11, with the labels that each got.

#741 Dev 2.x api 5.4
  README.md
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/base.py
  aiogram/bot/bot.py
  aiogram/contrib/fsm_storage/redis.py
  aiogram/contrib/middlewares/environment.py
  aiogram/contrib/middlewares/logging.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/webhook.py
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/chat_invite_link.py
  aiogram/types/chat_join_request.py
  aiogram/types/reply_keyboard.py
  aiogram/types/update.py
  aiogram/utils/executor.py
  docs/source/index.rst
  examples/proxy_and_emojize.py
  requirements.txt
  tests/test_bot/test_session.py
  tests/types/test_mixins.py
Labels: api, breaking

#737 Webhook integration in 3.0
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/filters/state.py
  aiogram/dispatcher/webhook/aiohttp_server.py
  aiogram/dispatcher/webhook/security.py
  aiogram/loggers.py
  examples/multibot.py
  poetry.lock
  pyproject.toml
  tests/mocked_bot.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_webhook/__init__.py
  tests/test_dispatcher/test_webhook/test_aiohtt_server.py
  tests/test_dispatcher/test_webhook/test_security.py
Labels: enhancement, ported, 3.x

#736 Fix resolve filters chain
  CHANGES/736.bugfix
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/router.py
  tests/test_dispatcher/test_event/test_telegram.py
  tests/test_dispatcher/test_router.py
Labels: 3.x

#691 Project typos fix
  aiogram/dispatcher/webhook.py
  aiogram/types/fields.py
  aiogram/utils/helper.py
Labels: enhancement

#759 Extended MagicFilter with aiogram-specific operation
  CHANGES/759.feature
  aiogram/__init__.py
  aiogram/utils/magic_filter.py
  docs/dispatcher/filters/magic_filters.rst
  poetry.lock
  pyproject.toml
  tests/test_utils/test_magic_filter.py
Labels: enhancement, 3.x

#751 Fix ChatMemberHandler import in __init__.py
  CHANGES/751.bugfix
  aiogram/dispatcher/handler/__init__.py
Labels: bug, 3.x
