Repository aiogram/aiogram, pull requests merged in 2021-07, with the labels that each got.

#610 Telegram API 5.3
  README.md
  README.rst
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/__init__.py
  aiogram/types/bot_command_scope.py
  aiogram/types/chat.py
  aiogram/types/chat_member.py
  aiogram/types/force_reply.py
  aiogram/types/reply_keyboard.py
  docs/source/index.rst
  tests/test_bot.py
  tests/types/test_chat_member.py
Labels: api

#624 Add ability to make custom deserialization for Telegram objects
  aiogram/types/base.py
  aiogram/types/chat_member.py
  aiogram/types/fields.py
Labels: bug

#633 Fix not all args are passed to handler function invocation.
  aiogram/dispatcher/event/handler.py
  tests/test_dispatcher/test_event/test_handler.py
Labels: 3.x, bug

#629 Replace for loops with comprehensions
  aiogram/contrib/fsm_storage/mongo.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/filters/factory.py
  aiogram/dispatcher/filters/filters.py
  aiogram/types/fields.py
  aiogram/types/inline_keyboard.py
  aiogram/types/reply_keyboard.py
  aiogram/utils/helper.py
Labels: enhancement

#636 fix: add missed ChatMember{x} in types
  aiogram/types/__init__.py
Labels: bug

#642 Fix between condition in send_media_group method
  aiogram/bot/bot.py
Labels: bug, confirmed

#644 Global filters for router
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/event/bases.py
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/filters/command.py
  aiogram/dispatcher/filters/exception.py
  aiogram/dispatcher/fsm/storage/redis.py
  aiogram/dispatcher/router.py
  poetry.lock
  pyproject.toml
  tests/test_api/test_methods/test_delete_my_commands.py
  tests/test_dispatcher/test_event/test_telegram.py
  tests/test_dispatcher/test_filters/test_exception.py
  tests/test_dispatcher/test_router.py
Labels: 3.x, enhancement, new feature
