Repository aiogram/aiogram, pull requests merged in 2021-03, with the labels that each got.

#519 Bot API 5.1
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/contrib/middlewares/logging.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/filters/builtin.py
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/chat_invite_link.py
  aiogram/types/chat_member.py
  aiogram/types/chat_member_updated.py
  aiogram/types/dice.py
  aiogram/types/message.py
  aiogram/types/message_auto_delete_timer_changed.py
  aiogram/types/update.py
  aiogram/types/voice_chat_ended.py
  aiogram/types/voice_chat_participants_invited.py
  aiogram/types/voice_chat_started.py
Labels: api

#501 Added answer_chat_action() method for types.Message
  aiogram/types/message.py
Labels: enhancement, new feature

#520 fix bug in getting user_id, chat_id from context
  aiogram/dispatcher/dispatcher.py
Labels: bug

#511 Add dice in message.send_copy method and more args for poll
  aiogram/types/message.py
Labels: enhancement

#514 Fix types.MediaGroup methods
  aiogram/types/input_media.py
Labels: bug, docs, enhancement

#512 Add restrict exceptions
  aiogram/utils/exceptions.py
Labels: enhancement

#433 feat: an example of intergration between externally created Application and dispatcher
  examples/separate_api_route_example.py
Labels: docs, enhancement

#515 Added split_separator param to safe_split_text
  aiogram/utils/parts.py
Labels: enhancement

#510 Update builtin.py
  aiogram/dispatcher/filters/builtin.py
Labels: bug

#527 Added alias to from_user field, fixed TypeError
  aiogram/types/chat_member_updated.py
Labels: bug

#535 Add Chat.message_auto_delete_time field
  aiogram/types/chat.py
Labels: api, bug

#533 [examples] Changed ChatType from CHANNEL to SUPERGROUP to avoid confusion
  examples/chat_type_filter.py
Labels: docs, enhancement

#531 Removed redundant definitions
  aiogram/bot/bot.py
  aiogram/dispatcher/handler.py
  aiogram/dispatcher/webhook.py
  aiogram/utils/text_decorations.py
Labels: enhancement

#526 Add delete_message shortcut for Chat
  aiogram/types/chat.py
Labels: new feature

#532 FIX TelegramObject.__setitem__
  aiogram/types/base.py
Labels: enhancement

#431 Add mime types parsing to Document
  aiogram/types/document.py
Labels: enhancement, new feature
