Repository aiogram/aiogram, pull requests merged in 2021-05, with the labels that each got.

#576 fix get_full_command for messages with caption
  aiogram/types/message.py
Labels: enhancement

#586 Update README.md
  README.md
Labels: docs

#592 Fix default updates
  aiogram/types/update.py
Labels: bug
