Repository aiogram/aiogram, pull requests merged in 2021-06, with the labels that each got.

#585 Added get_url() method for Message object and shifted_id property for Chat object
  aiogram/types/chat.py
  aiogram/types/message.py
  tests/test_api/test_methods/test_get_url.py
Labels: 3.x, enhancement, new feature

#597 fix for text decoration pre() bug
  aiogram/utils/text_decorations.py
Labels: bug

#583 Add caption_entities in InputMedia base class
  aiogram/types/input_media.py
Labels: bug, confirmed

#587 Сleanup storage
  aiogram/contrib/fsm_storage/memory.py
  aiogram/contrib/fsm_storage/redis.py
  dev_requirements.txt
  tests/contrib/fsm_storage/test_redis.py
  tests/contrib/fsm_storage/test_storage.py
Labels: enhancement, new feature

#598 GroupDeactivated exception text update
  aiogram/utils/exceptions.py
Labels: api, bug

#601 Backport and improvements
  .github/workflows/tests.yml
  Makefile
  aiogram/__init__.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/filters/command.py
  aiogram/dispatcher/fsm/context.py
  aiogram/dispatcher/fsm/middleware.py
  aiogram/dispatcher/fsm/storage/base.py
  aiogram/dispatcher/fsm/storage/memory.py
  aiogram/dispatcher/fsm/storage/redis.py
  aiogram/utils/auth_widget.py
  aiogram/utils/deep_linking.py
  aiogram/utils/keyboard.py
  aiogram/utils/link.py
  aiogram/utils/text_decorations.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/docker-compose.yml
  tests/test_api/test_client/test_session/test_base_session.py
  tests/test_api/test_methods/test_edit_message_media.py
  tests/test_api/test_methods/test_get_url.py
  tests/test_api/test_methods/test_send_audio.py
  tests/test_api/test_methods/test_set_chat_administrator_custom_title.py
  tests/test_api/test_methods/test_set_chat_photo.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_event/test_handler.py
  tests/test_dispatcher/test_filters/test_command.py
  tests/test_dispatcher/test_fsm/storage/test_memory.py
  tests/test_dispatcher/test_fsm/storage/test_redis.py
  tests/test_dispatcher/test_fsm/storage/test_storages.py
  tests/test_dispatcher/test_fsm/test_context.py
  tests/test_dispatcher/test_handler/test_chosen_inline_result.py
  tests/test_dispatcher/test_handler/test_error.py
  tests/test_dispatcher/test_handler/test_inline_query.py
  tests/test_dispatcher/test_handler/test_poll.py
  tests/test_dispatcher/test_handler/test_shipping_query.py
  tests/test_utils/test_auth_widget.py
  tests/test_utils/test_deep_linking.py
  tests/test_utils/test_link.py
  tests/test_utils/test_markdown.py
  tests/test_utils/test_text_decorations.py
Labels: 3.x, enhancement

#614 refactor: renamed getChatMembersCount to getChatMemberCount
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/chat.py
  tests/test_bot.py
Labels: api
