Repository aiogram/aiogram, pull requests merged in 2021-12, with the labels that each got.

#749 fixed a spelling error in the documentation
  docs/dispatcher/index.rst
Labels: docs, 3.x

#765 Header values must be str instances
  aiogram/dispatcher/webhook.py
Labels: bug

#768 Bot API 5.5
  README.md
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/chat.py
  aiogram/types/message.py
  docs/source/index.rst
Labels: api

#771 Remove markdown v1 from examples
  examples/check_user_language.py
Labels: enhancement

#772 Telegram API silent update
  aiogram/bot/bot.py
  aiogram/types/chat.py
  aiogram/utils/deprecated.py
Labels: api

#777 [3.x] Bot API 5.5
  .apiversion
  CHANGES/751.bugfix
  CHANGES/777.misc
  Makefile
  README.rst
  aiogram/__init__.py
  aiogram/client/bot.py
  aiogram/dispatcher/router.py
  aiogram/methods/__init__.py
  aiogram/methods/ban_chat_sender_chat.py
  aiogram/methods/unban_chat_sender_chat.py
  aiogram/types/chat.py
  aiogram/types/inline_keyboard_button.py
  aiogram/types/input_file.py
  aiogram/types/message.py
  docs/api/methods/ban_chat_sender_chat.rst
  docs/api/methods/index.rst
  docs/api/methods/unban_chat_sender_chat.rst
  pyproject.toml
  tests/test_api/test_methods/test_ban_chat_sender_chat.py
  tests/test_api/test_methods/test_unban_chat_sender_chat.py
  tests/test_api/test_types/test_chat.py
Labels: api, 3.x

#776 Check destiny in case of no `with_destiny`
  aiogram/dispatcher/fsm/storage/redis.py
  tests/test_dispatcher/test_fsm/storage/test_redis.py
Labels: enhancement, 3.x

#789 Added possibility to pass kwargs into handlers from webhook
  CHANGES/785.feature
  aiogram/dispatcher/webhook/aiohttp_server.py
Labels: enhancement, 3.x

#796 Add TelegramObject readable representation
  aiogram/types/base.py
Labels: enhancement
