Repository aiogram/aiogram, pull requests merged in 2021-04, with the labels that each got.

#565 Update documented caption limits to the current limit.
  aiogram/dispatcher/webhook.py
  aiogram/types/message.py
Labels: docs, enhancement

#572 Telegram API 5.2 support
  README.md
  README.rst
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/inline_query.py
  aiogram/types/input_message_content.py
  aiogram/types/message.py
  aiogram/types/voice_chat_scheduled.py
  docs/source/index.rst
Labels: api

#569 Deep linking util fix
  aiogram/utils/deep_linking.py
  tests/test_utils/test_deep_linking.py
Labels: bug, tests

#549 Fix `Bot.*_chat_invite_link` not returning `ChatInviteLink` (#548)
  aiogram/bot/bot.py
Labels: bug

#546 i18n get_locale without User
  aiogram/contrib/middlewares/i18n.py
Labels: bug

#542 Set state via storage
  aiogram/contrib/fsm_storage/memory.py
  aiogram/contrib/fsm_storage/mongo.py
  aiogram/contrib/fsm_storage/redis.py
  aiogram/contrib/fsm_storage/rethinkdb.py
  aiogram/dispatcher/storage.py
Labels: bug

#558 fix: builtin command filter args (#556)
  aiogram/dispatcher/filters/builtin.py
Labels: bug
