Repository aiogram/aiogram, pull requests merged in 2021-09, with the labels that each got.

#676 RedisStorage major fixes + tests updates
  aiogram/contrib/fsm_storage/redis.py
  tests/conftest.py
  tests/contrib/fsm_storage/test_storage.py
Labels: bug

#675 Decode aioredis v2 responses
  aiogram/contrib/fsm_storage/redis.py
Labels: bug

#669 Move update type detecting from `Dispatcher` to `Update`
  CHANGES/669.misc
  aiogram/dispatcher/dispatcher.py
  aiogram/types/update.py
  aiogram/utils/mypy_hacks.py
Labels: enhancement, 3.x

#677 Fix #665, add separate parametrs for saving to directory and file
  aiogram/types/mixins.py
  tests/types/test_mixins.py
Labels: bug

#681 Updated pre-commit hook
  .apiversion
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  CHANGES.rst
  CHANGES/681.misc
  LICENSE
  Makefile
  docs/_static/stylesheets/extra.css
  docs/api/bot.rst
  docs/dispatcher/class_based_handlers/chat_member.rst
  docs/dispatcher/dispatcher.rst
  docs/dispatcher/filters/index.rst
  docs/dispatcher/index.rst
  docs/dispatcher/observer.rst
  docs/dispatcher/router.rst
  examples/finite_state_machine.py
  examples/specify_updates.py
  poetry.lock
  pyproject.toml
Labels: 3.x

#682 Reworked handlers in use
  CHANGES/682.misc
  aiogram/dispatcher/router.py
  aiogram/utils/handlers_in_use.py
  examples/specify_updates.py
  tests/test_dispatcher/test_dispatcher.py
Labels: enhancement, 3.x
