Repository aiogram/aiogram, pull requests merged in 2021-01, with the labels that each got.

#489 Correct a typo in executor.py
  aiogram/utils/executor.py
Labels: docs, enhancement

#479 pytest update; yield_fixture deprecation fix; event_loop removed
  dev_requirements.txt
  tests/test_bot.py
  tests/test_dispatcher.py
  tests/test_message.py
Labels: enhancement

#490 Update installation instruction for Arch
  docs/source/install.rst
Labels: docs, enhancement

#498 Docs: fix typo "form" -> "from"
  docs/source/install.rst
Labels: docs, enhancement

#387 fix(aiohttp-session): respect UNSET sentinel
  aiogram/api/client/session/aiohttp.py
  tests/test_api/test_client/test_session/test_aiohttp_session.py
Labels: 3.x, bug
