Repository aiogram/aiogram, pull requests merged in 2022-01, with the labels that each got.

#801 Bot API v5.6 support
  README.md
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/message.py
  aiogram/types/message_entity.py
  aiogram/utils/markdown.py
  aiogram/utils/text_decorations.py
  docs/source/index.rst
Labels: api

#780 Remove unused code from fsm.py
  aiogram/contrib/middlewares/fsm.py
Labels: enhancement, code style

#695 Global disable web page preview parameter
  aiogram/bot/base.py
  aiogram/bot/bot.py
  aiogram/dispatcher/webhook.py
  aiogram/types/input_message_content.py
Labels: new feature

#802 docs: bot API version update
  README.rst
Labels: bug, docs

#811 Correct grammar errors
  docs/dispatcher/router.rst
Labels: enhancement, docs, confirmed

#809 Typo fix in example: Use hardcoded token as in the other examples
  examples/separate_api_route_example.py
Labels: bug, docs

#808 Typo fix in docs: invalid import
  docs/dispatcher/filters/index.rst
Labels: bug, docs, 3.x
