Repository aiogram/aiogram, pull requests merged in 2022-09, with the labels that each got.

#989 Add representation for aiogram exception
  CHANGES/988.feature
  aiogram/exceptions.py
  tests/test_api/test_types/test_exception.py
Labels: enhancement, 3.x

#1004 Recover tests
  dev_requirements.txt
  tests/conftest.py
  tests/contrib/fsm_storage/test_storage.py
  tests/test_bot.py
  tests/test_bot/test_bot_download_file.py
  tests/test_dispatcher/test_filters/test_state.py
  tests/test_message.py
  tests/test_utils/test_auth_widget.py
  tests/test_utils/test_markdown.py
  tests/types/dataset.py
  tests/types/test_mixins.py
Labels: 2.x

#1001 Update year range in license
  LICENSE
Labels: enhancement, docs, 2.x

#999 Fix chat type example
  docs/dispatcher/filters/index.rst
Labels: bug, docs, 3.x, skip news

#1003 Add field `can_manage_video_chats` to ChatMemberOwner
  aiogram/types/chat_member.py
  tests/types/dataset.py
Labels: enhancement, 2.x
