Repository aiogram/aiogram, pull requests merged in 2022-06, with the labels that each got.

#804 Add `protect_content` to webhook responses
  aiogram/dispatcher/webhook.py
Labels: bug, 2.x

#920 Small typo fix
  CHANGES/907.misc.rst
  aiogram/dispatcher/filters/command.py
Labels: enhancement, docs, 3.x, code style

#922 Fix type hints for redis TTL params
  CHANGES/922.feature.rst
  aiogram/dispatcher/fsm/storage/redis.py
Labels: docs, 3.x

#926 fix unregister handlers
  aiogram/dispatcher/handler.py
Labels: bug, 2.x

#915 make ChatTypeFilter work with inline queries
  aiogram/dispatcher/filters/builtin.py
  aiogram/types/chat.py
Labels: enhancement, new feature, 2.x

#940 Automatically put `3.x` label on new pull requests to `dev-3.x`
  .github/workflows/label_pr.yaml
Labels: enhancement, 3.x, skip news

#939 Automatically put `2.x` label on new pull requests to `dev-2.x`
  .github/workflows/label_pr.yaml
Labels: enhancement, 2.x

#943 Remove deprecated methods
  CHANGES/941.misc.rst
  aiogram/dispatcher/router.py
  aiogram/types/message_entity.py
  tests/test_api/test_types/test_message_entity.py
  tests/test_dispatcher/test_deprecated.py
Labels: breaking, 3.x

#945 #944 Rename "extract()" to "extract_from()" for entities
  CHANGES/944.misc.rst
  aiogram/types/message_entity.py
  tests/test_api/test_types/test_message_entity.py
Labels: 3.x

#929 Add `full_name` shortcut for `Chat`
  CHANGES/929.feature.rst
  aiogram/types/chat.py
  tests/test_api/test_types/test_chat.py
Labels: enhancement, new feature, 3.x

#949 Improve changelog check action
  .github/workflows/pull_request_changelog.yml
Labels: enhancement, 3.x, skip news

#947 Improve issue and pull request templates
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#948 Skip running tests when there are no code or test changes
  .github/workflows/tests.yml
Labels: enhancement, 3.x, skip news
