Repository aiogram/aiogram, pull requests merged in 2022-03, with the labels that each got.

#859 Fix I18nMiddleware class in i18n docs
  docs/utils/i18n.rst
Labels: docs

#856 Fix `python_requires` tag in `setup.py`
  setup.py
Labels: bug

#871 fix: User.language_code is optional
  aiogram/utils/i18n/middleware.py
Labels: bug, 3.x

#867 Fix indentation for `ban_chat_member` function doc string
  aiogram/bot/bot.py
Labels: bug, docs

#864 Fix docs and examples
  docs/dispatcher/filters/chat_member_updated.rst
  docs/dispatcher/filters/magic_data.rst
  docs/dispatcher/filters/magic_filters.rst
  examples/echo_bot.py
  examples/finite_state_machine.py
  examples/multibot.py
  examples/specify_updates.py
Labels: bug, docs

#873 Added changelog changed validator
  .github/workflows/pull_request_changelog.yml
  CHANGES/873.misc
  poetry.lock
Labels: enhancement, 3.x
