Repository aiogram/aiogram, pull requests merged in 2022-02, with the labels that each got.

#824 Updated to Bot API 5.7
  README.md
  README.rst
  aiogram/__init__.py
  aiogram/bot/api.py
  aiogram/bot/bot.py
  aiogram/types/sticker.py
  aiogram/types/sticker_set.py
  docs/source/index.rst
Labels: api

#805 Deleting deprecated CHOSEN_INLINE_QUERY
  aiogram/dispatcher/dispatcher.py
  aiogram/types/update.py
Labels: enhancement

#813 [2.x] Don't save error as a file
  aiogram/bot/base.py
  tests/test_bot/test_bot_download_file.py
  tests/types/test_mixins.py
Labels: bug

#806 Fix: default parent for `__setitem__`
  aiogram/types/base.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_dispatcher.py
  tests/test_message.py
  tests/types/dataset.py
  tests/types/test_chat.py
Labels: bug

#827 Fix: close #822 Fix exception filter
  CHANGES/827.bugfix
  aiogram/dispatcher/filters/exception.py
  tests/test_dispatcher/test_filters/test_exception.py
Labels: bug, 3.x

#831 Add support for custom kwargs for AsyncIOMotorClient in MongoStorage
  aiogram/contrib/fsm_storage/mongo.py
Labels: enhancement

#842 Changed skip updates method
  aiogram/dispatcher/dispatcher.py
Labels: bug
