Repository aiogram/aiogram, pull requests merged in 2022-10, with the labels that each got.

#996 Refactor annotation style in handler.py | [Rework handler once (rejected)]
  aiogram/dispatcher/handler.py
Labels: 2.x

#1017 Fix UA translations in index.po
  CHANGES/1017.doc
  docs/locale/uk_UA/LC_MESSAGES/index.po
Labels: 3.x

#1018 Combining filters (again)
  CHANGES/1017.doc
  CHANGES/1017.doc.rst
  CHANGES/1018.feature.rst
  aiogram/filters/__init__.py
  aiogram/filters/base.py
  aiogram/filters/callback_data.py
  aiogram/filters/chat_member_updated.py
  aiogram/filters/command.py
  aiogram/filters/exception.py
  aiogram/filters/logic.py
  aiogram/filters/magic_data.py
  aiogram/filters/state.py
  aiogram/filters/text.py
  docs/dispatcher/filters/index.rst
  docs/locale/en/LC_MESSAGES/api/upload_file.po
  docs/locale/en/LC_MESSAGES/changelog.po
  docs/locale/en/LC_MESSAGES/dispatcher/filters/index.po
  docs/locale/en/LC_MESSAGES/dispatcher/filters/magic_data.po
  docs/locale/en/LC_MESSAGES/index.po
  docs/locale/uk_UA/LC_MESSAGES/api/upload_file.po
  docs/locale/uk_UA/LC_MESSAGES/changelog.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/filters/index.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/filters/magic_data.po
  docs/locale/uk_UA/LC_MESSAGES/index.po
  tests/test_filters/test_base.py
  tests/test_filters/test_logic.py
Labels: enhancement, 3.x

#1023 Fix typo in docs dev-3.x
  docs/dispatcher/router.rst
Labels: 3.x, skip news

#1025 Translate flags docs page to uk_UA
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/flags.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/index.po
Labels: 3.x, skip news

#1034 UA translation of Observer docs
  aiogram/dispatcher/event/telegram.py
  docs/locale/en/LC_MESSAGES/dispatcher/observer.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/observer.po
Labels: docs, 3.x, skip news, docs-i18n

#1035 UA translation of FSM & Middlewares docs
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/finite_state_machine/index.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/finite_state_machine/storages.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/middlewares.po
Labels: docs, 3.x, skip news

#1029 Fix typehints for `Message` media group methods
  CHANGES/1029.doc.rst
  aiogram/types/message.py
Labels: enhancement, docs, 3.x

#1030 Add missing `Message` methods
  CHANGES/1030.feature.rst
  aiogram/types/message.py
  docs/api/methods/edit_message_live_location.rst
  docs/api/methods/edit_message_media.rst
  docs/api/methods/forward_message.rst
  docs/api/methods/pin_chat_message.rst
  docs/api/methods/stop_message_live_location.rst
  docs/api/methods/unpin_chat_message.rst
  tests/test_api/test_types/test_message.py
Labels: enhancement, 3.x

#1026 Added missing params to chat shortcut functions create_invite_link, e…
  aiogram/types/chat.py
Labels: enhancement, 2.x

#1040 Add `aiogram version` field to feature request template
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: enhancement

#1044 Tests on Python 3.11
  .github/workflows/tests.yml
  CHANGES/1044.misc.rst
  poetry.lock
  pyproject.toml
  tests/test_api/test_client/test_bot.py
  tests/test_api/test_client/test_session/test_aiohttp_session.py
  tests/test_api/test_client/test_session/test_base_session.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_event/test_event.py
  tests/test_filters/test_base.py
  tests/test_utils/test_chat_action.py
  tests/test_webhook/test_aiohtt_server.py
Labels: 3.x

#1047 Updated: message.py
  CHANGES/1047.bugfix.rst
  aiogram/types/message.py
Labels: 3.x
