Repository aiogram/aiogram, pull requests merged in 2022-08, with the labels that each got.

#971 Change set_data to set_bucket in reset_bucket (#970)
  aiogram/dispatcher/storage.py
Labels: 2.x

#972 Fix default lock kwargs in RedisEventIsolation
  CHANGES/972.bugfix.rst
  aiogram/dispatcher/fsm/storage/redis.py
Labels: 3.x

#964 Added constructor for ChatAdministratorRights
  aiogram/types/chat_administrator_rights.py
Labels: 2.x

#935 command filter now can be sets with BotCommand object
  aiogram/dispatcher/filters/builtin.py
  tests/test_dispatcher/test_filters/test_builtin.py
Labels: enhancement, new feature, question, 2.x

#917 Add `protect_content` global default
  aiogram/bot/base.py
  aiogram/bot/bot.py
  aiogram/dispatcher/webhook.py
Labels: new feature, 2.x

#857 Update mongo.py
  aiogram/contrib/fsm_storage/mongo.py
Labels: bug, 2.x

#868 Fix filtering skip_patterns
  aiogram/dispatcher/middlewares.py
Labels: enhancement, 2.x

#977 Patch 2
  aiogram/dispatcher/middlewares.py
  tests/test_dispatcher/test_middlewares/test_lifetimecontroller.py
Labels: 2.x

#976 Deprecate filters factory
  CHANGES/942.misc.rst
  aiogram/dispatcher/event/telegram.py
  aiogram/filters/__init__.py
  docs/dispatcher/filters/chat_member_updated.rst
  docs/dispatcher/filters/command.rst
  docs/dispatcher/filters/index.rst
  docs/dispatcher/filters/magic_data.rst
  examples/echo_bot.py
  examples/finite_state_machine.py
  examples/specify_updates.py
  tests/test_dispatcher/test_event/test_telegram.py
Labels: enhancement, breaking, 3.x

#987 Fix typo
  aiogram/dispatcher/dispatcher.py
Labels: 3.x, code style, skip news

#985 PyPy support
  .github/workflows/tests.yml
  CHANGES/985.feature
  README.rst
Labels: new feature, 3.x, tests

#983 Add IDFilter support for ChatJoinRequest events
  aiogram/dispatcher/filters/builtin.py
Labels: bug, enhancement, 2.x

#995 Prevent to crash polling
  CHANGES/995.misc.rst
  aiogram/dispatcher/dispatcher.py
Labels: bug, 3.x
