Repository aiogram/aiogram, pull requests merged in 2022-11, with the labels that each got.

#1049 add method for get user mention
  CHANGES/1049.feature.rst
  aiogram/types/user.py
  tests/test_api/test_types/test_user.py
Labels: enhancement, new feature, 3.x

#1061 Added support for topics in Bot API 6.3
  aiogram/bot/bot.py
  aiogram/dispatcher/webhook.py
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/chat_administrator_rights.py
  aiogram/types/chat_member.py
  aiogram/types/chat_permissions.py
  aiogram/types/forum_topic_closed.py
  aiogram/types/forum_topic_created.py
  aiogram/types/forum_topic_reopened.py
  aiogram/types/message.py
  aiogram/types/video_chat_started.py
  tests/types/dataset.py
  tests/types/test_chat_member.py
Labels: 2.x

#1050 Fix Handler unregister
  aiogram/dispatcher/handler.py
Labels: bug, 2.x

#1062 Fix for groups without topics
  aiogram/types/message.py
Labels: 2.x

#1060 Removed an old now non-working feature from documentation
  CHANGES/1060.doc.rst
  aiogram/dispatcher/router.py
Labels: docs, 3.x

#1064 Fix for copy and forwarding in special topic
  CHANGES/1064.bugfix.rst
  aiogram/types/message.py
Labels: 3.x

#1066 Added certifi
  CHANGES/1066.misc.rst
  aiogram/client/session/aiohttp.py
  poetry.lock
  pyproject.toml
  requirements/base.txt
  requirements/docs.txt
Labels: 3.x
