Repository aiogram/aiogram, pull requests merged in 2022-05, with the labels that each got.

#906 #905 Added 3 missing content types
  CHANGES/906.bugfix.rst
  aiogram/types/message.py
  tests/test_api/test_types/test_message.py
Labels: enhancement, 3.x

#908 fix Dispatcher.release_key
  aiogram/dispatcher/dispatcher.py
Labels: bug, 2.x

#912 #901 Fixed false-positive coercing of Union types in API methods
  CHANGES/901.bugfix.rst
  aiogram/methods/base.py
  aiogram/types/force_reply.py
  tests/test_api/test_methods/test_send_message.py
Labels: 3.x
