Repository aiogram/aiogram, pull requests merged in 2022-04, with the labels that each got.

#877 `parse_mode` should be `UNSET` instead of `None`
  CHANGES/876.bugfix
  aiogram/types/message.py
Labels: bug, 3.x

#881 Dispathcer to Dispatcher on docs
  docs/dispatcher/dispatcher.rst
Labels: skip news

#879 Fixed path of I18n Class
  docs/utils/i18n.rst
Labels: skip news

#884 Beta 3
  .pre-commit-config.yaml
  CHANGES/839.bugix.rst
  CHANGES/865.bugfix.rst
  CHANGES/873.misc.rst
  CHANGES/874.misc.rst
  CHANGES/882.misc.rst
  CHANGES/883.misc.rst
  CHANGES/885.bugfix.rst
  CHANGES/889.feature.rst
  Makefile
  aiogram/client/session/base.py
  aiogram/client/session/middlewares/base.py
  aiogram/client/session/middlewares/manager.py
  aiogram/client/session/middlewares/request_logging.py
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/filters/callback_data.py
  aiogram/dispatcher/filters/command.py
  aiogram/dispatcher/filters/magic_data.py
  aiogram/dispatcher/flags/flag.py
  aiogram/dispatcher/fsm/storage/redis.py
  aiogram/dispatcher/middlewares/manager.py
  aiogram/dispatcher/router.py
  aiogram/methods/base.py
  aiogram/types/keyboard_button.py
  aiogram/types/message.py
  aiogram/utils/chat_action.py
  aiogram/utils/link.py
  aiogram/utils/text_decorations.py
  docs/dispatcher/filters/callback_data.rst
  docs/dispatcher/filters/index.rst
  docs/utils/index.rst
  examples/echo_bot.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_api/test_client/test_session/test_base_session.py
  tests/test_api/test_client/test_session/test_middlewares/test_manager.py
  tests/test_api/test_types/test_message.py
  tests/test_dispatcher/test_deprecated.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_event/test_middleware.py
  tests/test_dispatcher/test_event/test_telegram.py
  tests/test_dispatcher/test_filters/test_callback_data.py
  tests/test_dispatcher/test_filters/test_command.py
  tests/test_dispatcher/test_filters/test_exception.py
  tests/test_dispatcher/test_filters/test_magic_data.py
  tests/test_utils/test_i18n.py
  tests/test_utils/test_link.py
  tests/test_utils/test_text_decorations.py
Labels: breaking, 3.x

#880 Fix datetime serialization error on Windows
  aiogram/types/fields.py
Labels: bug

#895 Added possibility to combine filters or invert result
  CHANGES/894.feature.rst
  aiogram/dispatcher/event/event.py
  aiogram/dispatcher/event/handler.py
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/filters/__init__.py
  aiogram/dispatcher/filters/base.py
  aiogram/dispatcher/filters/logic.py
  aiogram/dispatcher/middlewares/manager.py
  aiogram/dispatcher/router.py
  tests/test_dispatcher/test_filters/test_logic.py
Labels: ported, 3.x

#897 #896 Restrict including routers with strings
  CHANGES/896.misc.rst
  aiogram/dispatcher/router.py
  aiogram/utils/imports.py
  poetry.lock
  pyproject.toml
  tests/test_dispatcher/test_router.py
  tests/test_utils/test_imports.py
Labels: breaking, 3.x
