Repository aiogram/aiogram, pull requests merged in 2023-11, with the labels that each got.

#1360 Add current handler to filters, so that flags can be retrieved from it.
  CHANGES/1360.bugfix.rst
  aiogram/dispatcher/event/telegram.py
  tests/test_api/test_types/test_message.py
Labels: 3.x

#1357 new improved CallableMixin
  CHANGES/1357.misc.rst
  aiogram/dispatcher/event/handler.py
  tests/test_dispatcher/test_event/test_handler.py
Labels: enhancement, 3.x

#1353 chore(docs): update middleware.rst
  CHANGES/1353.doc.rst
  docs/api/session/middleware.rst
Labels: 3.x, skip news

#1361 Add pydantic 2.5 support
  CHANGES/1361.misc
  pyproject.toml
Labels: 3.x

#1366 Fixed ResourceWarnings in tests
  CHANGES/1320.misc.rst
  pyproject.toml
  tests/conftest.py
  tests/test_api/test_client/test_session/test_aiohttp_session.py
  tests/test_fsm/storage/test_isolation.py
Labels: 3.x

#1354 Upgrade to py12
  .github/workflows/tests.yml
  CHANGES/1354.misc.rst
  aiogram/__init__.py
  pyproject.toml
  tests/test_fsm/test_state.py
  tests/test_webhook/test_aiohtt_server.py
Labels: 3.x

#1369 Scenes Tests
  tests/test_fsm/test_scene.py
Labels: skip news

#1370 Fix CallbackData without default Optional
  CHANGES/1368.bugfix.rst
  aiogram/__init__.py
  aiogram/filters/callback_data.py
  tests/test_filters/test_callback_data.py
  tests/test_fsm/test_state.py
Labels: 3.x

#1371 Scenes Tests. Part 2
  aiogram/fsm/scene.py
  tests/test_fsm/test_scene.py
Labels: 3.x, skip news

#1280 PoC Scenes
  CHANGES/1280.feature.rst
  aiogram/__init__.py
  aiogram/dispatcher/event/handler.py
  aiogram/exceptions.py
  aiogram/fsm/scene.py
  aiogram/loggers.py
  docs/api/download_file.rst
  docs/dispatcher/finite_state_machine/index.rst
  docs/dispatcher/finite_state_machine/scene.rst
  examples/quiz_scene.py
  examples/scene.py
  tests/test_dispatcher/test_event/test_event.py
  tests/test_dispatcher/test_event/test_handler.py
  tests/test_fsm/test_scene.py
Labels: enhancement, 3.x

#1374 Update thumbnail type to InputFile only
  .butcher/methods/sendAnimation/replace.yml
  .butcher/methods/sendAudio/replace.yml
  .butcher/methods/sendDocument/replace.yml
  .butcher/methods/sendVideo/replace.yml
  .butcher/methods/sendVideoNote/replace.yml
  .butcher/types/InputMediaAnimation/replace.yml
  .butcher/types/InputMediaAudio/replace.yml
  .butcher/types/InputMediaDocument/replace.yml
  .butcher/types/InputMediaVideo/replace.yml
  CHANGES/1372.misc.rst
  aiogram/client/bot.py
  aiogram/methods/send_animation.py
  aiogram/methods/send_audio.py
  aiogram/methods/send_document.py
  aiogram/methods/send_video.py
  aiogram/methods/send_video_note.py
  aiogram/types/chat_join_request.py
  aiogram/types/chat_member_updated.py
  aiogram/types/input_media_animation.py
  aiogram/types/input_media_audio.py
  aiogram/types/input_media_document.py
  aiogram/types/input_media_video.py
  aiogram/types/message.py
  aiogram/utils/media_group.py
Labels: enhancement, 3.x
