Repository aiogram/aiogram, pull requests merged in 2023-02, with the labels that each got.

#1111 Telegram API 6.5
  aiogram/__init__.py
  aiogram/bot/bot.py
  aiogram/types/__init__.py
  aiogram/types/chat_join_request.py
  aiogram/types/chat_member.py
  aiogram/types/chat_shared.py
  aiogram/types/message.py
  aiogram/types/reply_keyboard.py
  aiogram/types/user_shared.py
Labels: 2.x

#1107 ignore_case fix for aiogram.filters.command.Command()
  CHANGES/1106.bugfix.rst
  aiogram/filters/command.py
  tests/test_filters/test_command.py
Labels: 3.x

#1112 Added full support of Bot API 6.5
  .butcher/methods/getChatMember/entity.json
  .butcher/methods/promoteChatMember/entity.json
  .butcher/methods/restrictChatMember/entity.json
  .butcher/methods/setChatPermissions/entity.json
  .butcher/schema/schema.json
  .butcher/types/ChatAdministratorRights/entity.json
  .butcher/types/ChatJoinRequest/entity.json
  .butcher/types/ChatMemberAdministrator/entity.json
  .butcher/types/ChatMemberRestricted/entity.json
  .butcher/types/ChatPermissions/entity.json
  .butcher/types/ChatShared/entity.json
  .butcher/types/KeyboardButton/entity.json
  .butcher/types/KeyboardButtonRequestChat/entity.json
  .butcher/types/KeyboardButtonRequestUser/entity.json
  .butcher/types/Message/entity.json
  .butcher/types/UserShared/entity.json
  CHANGES/1112.misc.rst
  aiogram/__init__.py
  aiogram/client/bot.py
  aiogram/enums/content_type.py
  aiogram/methods/get_chat_member.py
  aiogram/methods/promote_chat_member.py
  aiogram/methods/restrict_chat_member.py
  aiogram/methods/set_chat_permissions.py
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/chat_administrator_rights.py
  aiogram/types/chat_join_request.py
  aiogram/types/chat_member.py
  aiogram/types/chat_member_administrator.py
  aiogram/types/chat_member_restricted.py
  aiogram/types/chat_permissions.py
  aiogram/types/chat_shared.py
  aiogram/types/keyboard_button.py
  aiogram/types/keyboard_button_request_chat.py
  aiogram/types/keyboard_button_request_user.py
  aiogram/types/message.py
  aiogram/types/user_shared.py
  docs/api/types/chat_shared.rst
  docs/api/types/index.rst
  docs/api/types/keyboard_button_request_chat.rst
  docs/api/types/keyboard_button_request_user.rst
  docs/api/types/user_shared.rst
  pyproject.toml
  tests/test_api/test_types/test_chat_join_request.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_filters/test_chat_member_updated.py
Labels: api, 3.x

#1113 adapt ChatPermissions for Bot API 6.5
  aiogram/types/chat_permissions.py
Labels: 2.x

#1114 Replaced error `TypeError: TelegramEventObserver.__call__() got an unexpected keyword argument '<name>'` with a more understandable
  CHANGES/1114.misc.rst
  aiogram/dispatcher/event/telegram.py
  aiogram/exceptions.py
  tests/test_dispatcher/test_event/test_telegram.py
Labels: enhancement, 3.x

#1117 add new method for Router
  CHANGES/1117.feature.rst
  aiogram/dispatcher/router.py
  tests/test_dispatcher/test_router.py
Labels: 3.x

#1120 Added possibility to reply into webhook with files
  CHANGES/1120.misc.rst
  aiogram/dispatcher/dispatcher.py
  aiogram/methods/base.py
  aiogram/webhook/aiohttp_server.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_webhook/test_aiohtt_server.py
Labels: enhancement, 3.x

#1079 [3.x] Check status code when downloading file
  CHANGES/816.bugfix
  aiogram/client/bot.py
  aiogram/client/session/aiohttp.py
  aiogram/client/session/base.py
  aiogram/types/input_file.py
  tests/mocked_bot.py
  tests/test_api/test_client/test_session/test_aiohttp_session.py
Labels: 3.x

#1123 UA translation of chat_action.po from Bot Api
  docs/locale/uk_UA/LC_MESSAGES/api/enums/chat_action.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/get_chat_member.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/promote_chat_member.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/restrict_chat_member.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/set_chat_permissions.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_administrator_rights.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_join_request.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_member.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_member_administrator.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_member_restricted.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_permissions.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/chat_shared.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/keyboard_button.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/keyboard_button_request_chat.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/keyboard_button_request_user.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/message.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/user_shared.po
  docs/locale/uk_UA/LC_MESSAGES/changelog.po
  docs/locale/uk_UA/LC_MESSAGES/contributing.po
  docs/locale/uk_UA/LC_MESSAGES/index.po
  docs/locale/uk_UA/LC_MESSAGES/utils/callback_answer.po
Labels: 3.x, skip news

#1126 update ua docs: patch api/enums/*.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/bot_command_scope_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/chat_member_status.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/chat_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/content_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/dice_emoji.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/index.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/inline_query_result_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/input_media_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/mask_position_point.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/menu_button_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/message_entity_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/parse_mode.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/poll_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/sticker_type.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/topic_icon_color.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/update_type.po
Labels: 3.x, skip news

#1124 Reworked graceful shutdown
  CHANGES/1124.misc.rst
  Makefile
  aiogram/dispatcher/dispatcher.py
  aiogram/dispatcher/flags.py
  aiogram/exceptions.py
  pyproject.toml
  tests/test_dispatcher/test_dispatcher.py
Labels: enhancement, 3.x

#1133 Update upload_file.rst | tiny grammar typos
  CHANGES/1133.doc.rst
  docs/api/upload_file.rst
Labels: 3.x
