Repository aiogram/aiogram, pull requests merged in 2023-08, with the labels that each got.

#1238 Reworked InputFile sending
  CHANGES/1238.misc.rst
  aiogram/client/session/aiohttp.py
  aiogram/types/input_file.py
  aiogram/webhook/aiohttp_server.py
  tests/test_api/test_client/test_session/test_aiohttp_session.py
  tests/test_api/test_types/test_chat_join_request.py
  tests/test_api/test_types/test_input_file.py
Labels: breaking, 3.x

#1194 Add currency enum
  .butcher/enums/Currency.yml
  CHANGES/1194.feature.rst
  aiogram/enums/__init__.py
  aiogram/enums/currency.py
  docs/api/enums/currency.rst
  docs/api/enums/index.rst
Labels: 3.x

#1244 Added codegen configuration for lost shortcuts
  .butcher/types/Message/aliases.yml
  .butcher/types/PreCheckoutQuery/aliases.yml
  .butcher/types/ShippingQuery/aliases.yml
  CHANGES/#1244.bugfix.rst
  aiogram/types/message.py
  aiogram/types/pre_checkout_query.py
  aiogram/types/shipping_query.py
Labels: 3.x

#1236 Enhance keyboard utility, improved documentation page.
  CHANGES/1236.feature.rst
  aiogram/utils/keyboard.py
  docs/utils/keyboard.rst
  tests/test_utils/test_keyboard.py
Labels: 3.x

#1247 Fix bot instance passing in Dispatcher startup
  CHANGES/1242.bugfix.rst
  aiogram/dispatcher/dispatcher.py
  tests/test_dispatcher/test_dispatcher.py
Labels: bug, 3.x

#1248 Webhook docs
  CHANGES/1241.doc.rst
  aiogram/webhook/aiohttp_server.py
  docs/dispatcher/index.rst
  docs/dispatcher/long_polling.rst
  docs/dispatcher/webhook.rst
  docs/locale/en/LC_MESSAGES/api/enums/currency.po
  docs/locale/en/LC_MESSAGES/api/methods/answer_pre_checkout_query.po
  docs/locale/en/LC_MESSAGES/api/methods/answer_shipping_query.po
  docs/locale/en/LC_MESSAGES/api/methods/edit_message_reply_markup.po
  docs/locale/en/LC_MESSAGES/api/types/message.po
  docs/locale/en/LC_MESSAGES/api/types/pre_checkout_query.po
  docs/locale/en/LC_MESSAGES/api/types/shipping_query.po
  docs/locale/en/LC_MESSAGES/changelog.po
  docs/locale/en/LC_MESSAGES/deployment/index.po
  docs/locale/en/LC_MESSAGES/dispatcher/index.po
  docs/locale/en/LC_MESSAGES/dispatcher/long_polling.po
  docs/locale/en/LC_MESSAGES/dispatcher/webhook.po
  docs/locale/en/LC_MESSAGES/utils/keyboard.po
  docs/locale/uk_UA/LC_MESSAGES/api/enums/currency.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/answer_pre_checkout_query.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/answer_shipping_query.po
  docs/locale/uk_UA/LC_MESSAGES/api/methods/edit_message_reply_markup.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/message.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/pre_checkout_query.po
  docs/locale/uk_UA/LC_MESSAGES/api/types/shipping_query.po
  docs/locale/uk_UA/LC_MESSAGES/changelog.po
  docs/locale/uk_UA/LC_MESSAGES/deployment/index.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/filters/text.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/index.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/long_polling.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/webhook.po
  docs/locale/uk_UA/LC_MESSAGES/utils/keyboard.po
  examples/echo_bot.py
  examples/echo_bot_webhook.py
  examples/echo_bot_webhook_ssl.py
  examples/multibot.py
  examples/specify_updates.py
Labels: docs, 3.x

#1250 Added support for message_thread_id in ChatActionSender
  CHANGES/1249.feature.rst
  aiogram/utils/chat_action.py
  tests/test_utils/test_chat_action.py
Labels: 3.x

#1251 Added a few words about skipping pending updates
  CHANGES/1251.doc.rst
  docs/migration_2_to_3.rst
Labels: 3.x

#1256 Refactor and improve bot examples
  CHANGES/5780.doc.rst
  examples/echo_bot.py
  examples/echo_bot_webhook.py
  examples/echo_bot_webhook_ssl.py
  examples/finite_state_machine.py
  examples/multibot.py
  examples/specify_updates.py
  examples/web_app/main.py
Labels: 3.x

#1263 Fixed nested hashtag, cashtag and email entnties parsing
  CHANGES/1259.bugfix.rst
  aiogram/utils/text_decorations.py
  tests/test_utils/test_text_decorations.py
Labels: bug, 3.x

#1261 Examples/dev 3x refactor fix*
  CHANGES/1256.doc.rst
Labels: 3.x, skip news

#1253 Added a section on Dependency Injection technology in documentation
  CHANGES/1253.doc.rst
  docs/dispatcher/dependency_injection.rst
  examples/context_addition_from_filter.py
Labels: 3.x

#1254 Examples/dev 3x multi file
  CHANGES/1254.doc.rst
  examples/multi_file_bot/bot.py
  examples/multi_file_bot/handlers/__init__.py
  examples/multi_file_bot/handlers/echo.py
  examples/multi_file_bot/handlers/start.py
Labels: 3.x

#1252 Fix missing message content types
  CHANGES/1252.bugfix.rst
  aiogram/types/message.py
  tests/test_api/test_types/test_message.py
Labels: 3.x

#1264 Migration FAQ supplement (Finite State Machine)
  CHANGES/1264.doc.rst
  docs/migration_2_to_3.rst
Labels: 3.x

#1267 Content from global filters
  CHANGES/1266.bugfix.rst
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/router.py
  examples/context_addition_from_filter.py
  examples/multibot.py
  tests/test_dispatcher/test_event/test_telegram.py
Labels: bug, 3.x

#1099 Add error handling example
  CHANGES/1099.doc.rst
  examples/error_handling.py
Labels: enhancement, docs, 3.x

#1269 Update a warning message in dispatcher
  CHANGES/1269.misc.rst
  aiogram/dispatcher/dispatcher.py
Labels: enhancement, 3.x

#1272 Add contributing support for zsh and win
  docs/contributing.rst
Labels: 3.x, skip news

#1273 Support wider pydantic version
  pyproject.toml
Labels: 3.x, skip news

#1282 Fix markdown italic quote
  CHANGES/1282.bugfix.rst
  aiogram/utils/markdown.py
Labels: 3.x

#1283 Fix magic operation `.as_` for values interpreted as False
  CHANGES/1281.bugfix.rst
  aiogram/utils/magic_filter.py
  tests/test_utils/test_magic_filter.py
Labels: bug, 3.x

#1284 Fixed method :code:`Message.send_copy` for stickers
  CHANGES/1284.bugfix.rst
  aiogram/types/message.py
Labels: bug, 3.x

#1285 Replace datetime.datetime with DateTime across codebase
  .butcher/types/Chat/replace.yml
  .butcher/types/ChatInviteLink/replace.yml
  .butcher/types/ChatJoinRequest/replace.yml
  .butcher/types/ChatMember/replace.yml
  .butcher/types/ChatMemberBanned/replace.yml
  .butcher/types/ChatMemberRestricted/replace.yml
  .butcher/types/ChatMemberUpdated/replace.yml
  .butcher/types/Message/replace.yml
  .butcher/types/Poll/replace.yml
  .butcher/types/VideoChatScheduled/replace.yml
  .butcher/types/WebhookInfo/replace.yml
  CHANGES/1277.bugfix.rst
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/chat_invite_link.py
  aiogram/types/chat_join_request.py
  aiogram/types/chat_member_banned.py
  aiogram/types/chat_member_restricted.py
  aiogram/types/chat_member_updated.py
  aiogram/types/custom.py
  aiogram/types/message.py
  aiogram/types/poll.py
  aiogram/types/video_chat_scheduled.py
  aiogram/types/webhook_info.py
  pyproject.toml
Labels: bug, 3.x

#1290 Fixed error overlapping when validation error is caused by remove_unset root validator in base types and methods.
  CHANGES/1290.bugfix.rst
  aiogram/methods/base.py
  aiogram/types/base.py
  tests/test_api/test_methods/test_base.py
Labels: bug, 3.x
