Repository aiogram/aiogram, pull requests merged in 2023-10, with the labels that each got.

#1315 Handle expected warnings & raise unexpected warnings
  .github/PULL_REQUEST_TEMPLATE.md
  aiogram/client/session/aiohttp.py
  aiogram/fsm/storage/redis.py
  pyproject.toml
  tests/test_api/test_client/test_bot.py
  tests/test_api/test_client/test_session/test_aiohttp_session.py
  tests/test_api/test_types/test_input_file.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_filters/test_exception.py
  tests/test_fsm/storage/test_isolation.py
  tests/test_utils/test_chat_action.py
  tests/test_utils/test_i18n.py
Labels: 3.x, skip news

#1302 Corrected grammatical errors, improved sentence structures, translation for migration 2.x-3.x
  CHANGES/1302.doc
  docs/locale/uk_UA/LC_MESSAGES/api/methods/set_sticker_set_thumb.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/dispatcher.po
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/filters/index.po
  docs/locale/uk_UA/LC_MESSAGES/migration_2_to_3.po
  docs/locale/uk_UA/LC_MESSAGES/utils/media_group.po
  docs/migration_2_to_3.rst
Labels: 3.x

#1327 Update dependencies
  CHANGES/1327.misc.rst
  aiogram/fsm/storage/redis.py
  pyproject.toml
Labels: 3.x

#1328 [2.x] Save `_process_polling_updates` from being garbage collected (fixes #628 #927)
  aiogram/dispatcher/dispatcher.py
Labels: 2.x

#1331 Prevent update handling task pointers from being garbage collected, backport of #1328
  CHANGES/1331.misc
  aiogram/dispatcher/dispatcher.py
  aiogram/webhook/aiohttp_server.py
Labels: 3.x

#1332 Fix send_copy helper parse mode
  CHANGES/1332.bugfix.rst
  aiogram/types/message.py
  tests/test_api/test_types/test_message.py
Labels: 3.x

#1340 Update base.rst
  CHANGES/1340.doc.rst
  docs/dispatcher/class_based_handlers/base.rst
Labels: 3.x

#1345 Update ReadTheDocs configuration
  .readthedocs.yml
Labels: 3.x, skip news

#1344 Add new FSM strategy CHAT_TOPIC strategy.py
  CHANGES/1343.feature.rst
  aiogram/fsm/strategy.py
  tests/test_fsm/test_strategy.py
Labels: 3.x

#1351 Add CITATION.cff for automatic academic citation
  CHANGES/1351.doc.rst
  CITATION.cff
Labels: enhancement, docs, 3.x

#1352 Update typing-extensions version range in dependencies
  CHANGES/1347.misc.rst
  pyproject.toml
Labels: 3.x
