Repository aiogram/aiogram, pull requests merged in 2023-04, with the labels that each got.

#1156 Resolve #1155: Different signature of startup/shutdown events on polling and webhooks
  CHANGES/1155.bugfix.rst
  aiogram/dispatcher/dispatcher.py
Labels: 3.x

#1151 Update deep_linking basic examples
  aiogram/utils/deep_linking.py
Labels: 3.x, skip news

#1147 skip if current router does not have observer for custom event
  CHANGES/1147.feature
  aiogram/dispatcher/event/telegram.py
  aiogram/dispatcher/router.py
  tests/test_dispatcher/test_router.py
Labels: 3.x

#1146 Change `InlineQueryResultType.MPEG` to more correct
  .butcher/enums/InlineQueryResultType.yml
  CHANGES/1146.bugfix.rst
  aiogram/enums/inline_query_result_type.py
  aiogram/types/inline_query_result_cached_mpeg4_gif.py
  aiogram/types/inline_query_result_mpeg4_gif.py
Labels: 3.x

#1154 fix(docs): fix wrong page link in docs
  docs/api/upload_file.rst
Labels: 3.x

#1144 storage cleanup
  CHANGES/1144.misc.rst
  aiogram/fsm/context.py
  aiogram/fsm/middleware.py
  aiogram/fsm/storage/base.py
  aiogram/fsm/storage/memory.py
  aiogram/fsm/storage/redis.py
  tests/test_fsm/storage/test_isolation.py
  tests/test_fsm/storage/test_storages.py
  tests/test_fsm/test_context.py
  tests/test_utils/test_i18n.py
Labels: 3.x

#1164 Fix typo
  examples/echo_bot.py
Labels: 3.x, skip news

#1162 Fix compatibility with Python 3.8-3.9
  CHANGES/1162.bugfix.rst
  aiogram/dispatcher/dispatcher.py
  pyproject.toml
  tests/test_dispatcher/test_dispatcher.py
Labels: 3.x

#1163 Improve callback data serialization
  CHANGES/1163.feature.rst
  aiogram/filters/callback_data.py
  tests/test_filters/test_callback_data.py
Labels: enhancement, 3.x

#1168 Bot API 6.7
  .butcher/methods/answerInlineQuery/entity.json
  .butcher/methods/getMyName/entity.json
  .butcher/methods/setMyName/entity.json
  .butcher/schema/schema.json
  .butcher/types/BotName/entity.json
  .butcher/types/ChatMemberUpdated/entity.json
  .butcher/types/InlineKeyboardButton/entity.json
  .butcher/types/InlineQueryResultsButton/entity.json
  .butcher/types/SwitchInlineQueryChosenChat/entity.json
  .butcher/types/WriteAccessAllowed/entity.json
  CHANGES/1168.misc.rst
  aiogram/client/bot.py
  aiogram/methods/__init__.py
  aiogram/methods/answer_inline_query.py
  aiogram/methods/get_my_name.py
  aiogram/methods/set_my_name.py
  aiogram/types/__init__.py
  aiogram/types/bot_name.py
  aiogram/types/chat_member_updated.py
  aiogram/types/inline_keyboard_button.py
  aiogram/types/inline_query.py
  aiogram/types/inline_query_results_button.py
  aiogram/types/switch_inline_query_chosen_chat.py
  aiogram/types/write_access_allowed.py
  docs/api/methods/get_my_name.rst
  docs/api/methods/index.rst
  docs/api/methods/set_my_name.rst
  docs/api/types/bot_name.rst
  docs/api/types/index.rst
  docs/api/types/inline_query_results_button.rst
  docs/api/types/switch_inline_query_chosen_chat.rst
  tests/test_api/test_methods/test_get_my_name.py
  tests/test_api/test_methods/test_set_my_name.py
  tests/test_api/test_types/test_message.py
Labels: api, 3.x

#1161 Forum topic in FSM
  CHANGES/1161.feature.rst
  aiogram/dispatcher/middlewares/user_context.py
  aiogram/fsm/middleware.py
  aiogram/fsm/storage/base.py
  aiogram/fsm/storage/redis.py
  aiogram/fsm/strategy.py
  tests/test_dispatcher/test_dispatcher.py
  tests/test_dispatcher/test_middlewares/test_user_context.py
  tests/test_fsm/storage/test_redis.py
  tests/test_fsm/test_strategy.py
Labels: enhancement, 3.x

#1170 Removed Text filter
  CHANGES/1170.removal.rst
  aiogram/filters/__init__.py
  aiogram/filters/text.py
  docs/dispatcher/filters/index.rst
  docs/dispatcher/filters/text.rst
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/filters/text.po
  pyproject.toml
  tests/test_filters/test_logic.py
  tests/test_filters/test_text.py
Labels: breaking, 3.x
