Repository aiogram/aiogram, pull requests merged in 2023-09, with the labels that each got.

#1293 Added MediaGroupBuilder for media group construction
  CHANGES/1293.feature.rst
  aiogram/utils/media_group.py
  docs/utils/index.rst
  docs/utils/media_group.rst
  tests/test_api/test_methods/test_base.py
  tests/test_utils/test_media_group.py
Labels: 3.x

#1278 Custom encoding support
  CHANGES/1262.feature
  aiogram/utils/deep_linking.py
  aiogram/utils/payload.py
  pyproject.toml
  tests/test_utils/test_deep_linking.py
Labels: enhancement, 3.x

#1299 Updated migration guide with API server
  docs/migration_2_to_3.rst
Labels: 3.x, skip news

#1304 fix: added absent params for button builders
  CHANGES/1303.bugfix
  aiogram/utils/keyboard.py
Labels: bug, 3.x

#1306 New towncrier docs link
  .github/workflows/pull_request_changelog.yml
Labels: 3.x, skip news

#1307 Apply lint&reformat for existing code
  aiogram/utils/deep_linking.py
  examples/multibot.py
  tests/test_utils/test_deep_linking.py
Labels: 3.x, skip news

#1309 Update deprecated pydantic fields access
  tests/test_api/test_types/test_reply_keyboard_remove.py
Labels: 3.x, tests, skip news

#1318 Fixed priority of events isolation
  CHANGES/1317.bugfix.rst
  aiogram/fsm/middleware.py
  tests/test_issues/test_1317_state_vs_isolation.py
Labels: 3.x

#1319 Telegram Bot API 6.9
  .apiversion
  .butcher/methods/banChatMember/entity.json
  .butcher/methods/restrictChatMember/entity.json
  .butcher/schema/schema.json
  .butcher/types/Chat/entity.json
  .butcher/types/ChatAdministratorRights/entity.json
  .butcher/types/ChatMemberAdministrator/entity.json
  .butcher/types/ChatMemberBanned/entity.json
  .butcher/types/ChatMemberRestricted/entity.json
  .butcher/types/InlineQueryResultsButton/entity.json
  .butcher/types/Message/entity.json
  .butcher/types/WebAppInfo/entity.json
  .butcher/types/WriteAccessAllowed/entity.json
  CHANGES/1262.feature.rst
  CHANGES/1303.bugfix.rst
  CHANGES/1319.feature.rst
  README.rst
  aiogram/__meta__.py
  aiogram/client/bot.py
  aiogram/methods/ban_chat_member.py
  aiogram/methods/restrict_chat_member.py
  aiogram/types/chat.py
  aiogram/types/chat_administrator_rights.py
  aiogram/types/chat_member_administrator.py
  aiogram/types/chat_member_banned.py
  aiogram/types/chat_member_restricted.py
  aiogram/types/inline_query_results_button.py
  aiogram/types/message.py
  aiogram/types/web_app_info.py
  aiogram/types/write_access_allowed.py
  examples/multibot.py
  pyproject.toml
Labels: api, 3.x

#1322 Fix pydantic version
  CHANGES/1322.bugfix
  pyproject.toml
Labels: bug, 3.x

#1325 Fix broken link in MessageHandler (CBH) documentation
  docs/dispatcher/class_based_handlers/message.rst
Labels: 3.x, skip news
