Repository aiogram/aiogram, pull requests merged in 2023-07, with the labels that each got.

#1204 Remove patreon from docs/contributing.rst
  docs/contributing.rst
Labels: 3.x, skip news

#1210 PoC: Bot instance inside method shortcuts using pydantic Validation Context
  CHANGES/1210.misc.rst
  aiogram/client/context_controller.py
  aiogram/client/session/aiohttp.py
  aiogram/client/session/base.py
  aiogram/methods/base.py
  aiogram/types/base.py
  aiogram/types/callback_query.py
  aiogram/types/chat.py
  aiogram/types/chat_join_request.py
  aiogram/types/inline_query.py
  aiogram/types/input_file.py
  aiogram/types/message.py
  aiogram/types/sticker.py
  aiogram/types/user.py
  tests/mocked_bot.py
  tests/test_api/test_client/test_context_controller.py
  tests/test_api/test_client/test_session/test_base_session.py
  tests/test_api/test_methods/test_base.py
  tests/test_api/test_types/test_input_file.py
Labels: 3.x

#1220 Update dispatcher.py
  aiogram/dispatcher/dispatcher.py
Labels: 3.x, skip news

#1221 Bump magic-filter to 1.0.10
  CHANGES/1221.misc.rst
  aiogram/filters/command.py
  pyproject.toml
Labels: 3.x

#1230 Removed the use of the context instance (Bot.get_current) from all placements that were used previously.
  CHANGES/1230.removal.rst
  aiogram/client/bot.py
  aiogram/client/context_controller.py
  aiogram/dispatcher/dispatcher.py
  aiogram/filters/state.py
  aiogram/handlers/base.py
  aiogram/types/base.py
  aiogram/utils/chat_action.py
  tests/conftest.py
  tests/test_handler/test_base.py
  tests/test_utils/test_chat_action.py
Labels: breaking, 3.x

#1143 Migration guide 2.x -> 3.0
  .butcher/templates/enums/index.rst.jinja2
  CHANGES/1143.doc.rst
  aiogram/client/session/base.py
  aiogram/dispatcher/router.py
  aiogram/exceptions.py
  aiogram/utils/formatting.py
  docs/api/enums/index.rst
  docs/api/session/custom_server.rst
  docs/api/session/index.rst
  docs/api/session/middleware.rst
  docs/api/types/error_event.rst
  docs/conf.py
  docs/dispatcher/errors.rst
  docs/dispatcher/filters/callback_data.rst
  docs/dispatcher/index.rst
  docs/dispatcher/middlewares.rst
  docs/dispatcher/observer.rst
  docs/dispatcher/router.rst
  docs/index.rst
  docs/install.rst
  docs/migration_2_to_3.rst
  docs/utils/formatting.rst
  docs/utils/keyboard.rst
  pyproject.toml
Labels: docs, 3.x

#1232 Ensure all message types are assigned to the correct bot.
  CHANGES/1232.bugfix.rst
  aiogram/types/message.py
Labels: bug, 3.x

#1233 Added model validation to remove UNSET before field validation
  CHANGES/1233.bugfix.rst
  aiogram/types/base.py
Labels: bug, 3.x

#1234 Added shortcuts for ChatMemberUpdate event
  .butcher/types/ChatMemberUpdated/aliases.yml
  CHANGES/1234.feature.rst
  aiogram/types/chat_member_updated.py
  docs/api/methods/send_animation.rst
  docs/api/methods/send_audio.rst
  docs/api/methods/send_contact.rst
  docs/api/methods/send_dice.rst
  docs/api/methods/send_document.rst
  docs/api/methods/send_game.rst
  docs/api/methods/send_invoice.rst
  docs/api/methods/send_location.rst
  docs/api/methods/send_media_group.rst
  docs/api/methods/send_message.rst
  docs/api/methods/send_photo.rst
  docs/api/methods/send_poll.rst
  docs/api/methods/send_sticker.rst
  docs/api/methods/send_venue.rst
  docs/api/methods/send_video.rst
  docs/api/methods/send_video_note.rst
  docs/api/methods/send_voice.rst
  tests/test_api/test_methods/test_send_message.py
  tests/test_api/test_types/test_chat_member_updated.py
Labels: 3.x

#1235 Chat join request shortcuts
  .butcher/types/ChatJoinRequest/aliases.yml
  CHANGES/1234.feature.rst
  CHANGES/1235.feature.rst
  aiogram/types/chat_join_request.py
  docs/api/methods/send_animation.rst
  docs/api/methods/send_audio.rst
  docs/api/methods/send_contact.rst
  docs/api/methods/send_dice.rst
  docs/api/methods/send_document.rst
  docs/api/methods/send_game.rst
  docs/api/methods/send_invoice.rst
  docs/api/methods/send_location.rst
  docs/api/methods/send_media_group.rst
  docs/api/methods/send_message.rst
  docs/api/methods/send_photo.rst
  docs/api/methods/send_poll.rst
  docs/api/methods/send_sticker.rst
  docs/api/methods/send_venue.rst
  docs/api/methods/send_video.rst
  docs/api/methods/send_video_note.rst
  docs/api/methods/send_voice.rst
  tests/test_api/test_types/test_chat_join_request.py
  tests/test_api/test_types/test_chat_member_updated.py
Labels: 3.x
