Repository aiogram/aiogram, pull requests merged in 2024-12, with the labels that each got.

#1617 Added full support of Bot API 8.1
  .apiversion
  .butcher/enums/TransactionPartnerType.yml
  .butcher/methods/createInvoiceLink/entity.json
  .butcher/schema/schema.json
  .butcher/types/AffiliateInfo/entity.json
  .butcher/types/StarTransaction/entity.json
  .butcher/types/TransactionPartner/entity.json
  .butcher/types/TransactionPartnerAffiliateProgram/entity.json
  .butcher/types/TransactionPartnerUser/entity.json
  CHANGES/1617.feature.rst
  README.rst
  aiogram/__meta__.py
  aiogram/client/bot.py
  aiogram/enums/transaction_partner_type.py
  aiogram/methods/create_invoice_link.py
  aiogram/types/__init__.py
  aiogram/types/affiliate_info.py
  aiogram/types/star_transaction.py
  aiogram/types/transaction_partner.py
  aiogram/types/transaction_partner_affiliate_program.py
  aiogram/types/transaction_partner_user.py
  docs/api/types/affiliate_info.rst
  docs/api/types/index.rst
  docs/api/types/transaction_partner_affiliate_program.rst
  docs/conf.py
Labels: api, 3.x

#1615 Increased aiohttp version
  CHANGES/1615.misc.rst
  pyproject.toml
Labels: 3.x

#1616 Added __call__ method to TelegramMethod class.
  CHANGES/1616.bugfix.rst
  aiogram/methods/base.py
Labels: 3.x

#1619 Fix link formatting
  CHANGES.rst
Labels: 3.x, skip news
