Repository aiogram/aiogram, pull requests merged in 2024-07, with the labels that each got.

#1534 Fixed tests
  aiogram/types/external_reply_info.py
  aiogram/types/message.py
  aiogram/types/star_transaction.py
  examples/multibot.py
  tests/test_api/test_types/test_message.py
Labels: skip news

#1532 Bump pydantic to v2.8
  pyproject.toml
Labels: 3.x, skip news

#1531 Migrating feeding updates (docs)
  .editorconfig
  docs/dispatcher/dispatcher.rst
  docs/migration_2_to_3.rst
Labels: docs, 3.x, skip news

#1521 #1520 Fixed event context resolving for the callback query
  CHANGES/1520.bugfix.rst
  aiogram/dispatcher/middlewares/user_context.py
  aiogram/types/input_paid_media_photo.py
  aiogram/types/message.py
  aiogram/types/paid_media_photo.py
  aiogram/types/paid_media_preview.py
  aiogram/types/paid_media_video.py
  examples/multibot.py
  tests/test_api/test_methods/test_send_paid_media.py
  tests/test_api/test_types/test_message.py
Labels: 3.x

#1536 Added full support of Bot API 7.7
  .butcher/schema/schema.json
  .butcher/types/Message/entity.json
  .butcher/types/RefundedPayment/entity.json
  CHANGES/1536.feature.rst
  aiogram/enums/content_type.py
  aiogram/types/__init__.py
  aiogram/types/message.py
  aiogram/types/refunded_payment.py
  docs/api/types/index.rst
  docs/api/types/refunded_payment.rst
  tests/test_api/test_types/test_message.py
Labels: api, 3.x

#1539 Added 'as_reply_parameters' method & integrate with message reply methods
  .butcher/types/Message/aliases.yml
  CHANGES/1538.misc.rst
  aiogram/types/message.py
  tests/test_api/test_types/test_message.py
Labels: 3.x

#1541 chore(docs): fix in `defaults.rst` change Bot parameter name to `default`.
  docs/api/defaults.rst
Labels: 3.x, skip news

#1546 Fix web_app example
  CHANGES/1546.bugfix.rst
  examples/web_app/routes.py
Labels: 3.x

#1549 Fixed ruff issues
  aiogram/utils/formatting.py
  examples/multibot.py
  examples/web_app/routes.py
Labels: 3.x, skip news

#1548 Added aiohttp 3.10 support
  CHANGES/1548.misc.rst
  pyproject.toml
Labels: 3.x
