Repository aiogram/aiogram, pull requests merged in 2024-02, with the labels that each got.

#1403 Update message.send_copy: add missing reply_parameters param
  CHANGES/1403.bugfix.rst
  aiogram/types/message.py
Labels: 3.x

#1419 Fixed default LinkPreviewOptions JSON serialization
  CHANGES/1418.bugfix.rst
  aiogram/client/session/base.py
  tests/test_api/test_client/test_session/test_base_session.py
Labels: bug, 3.x

#1425 Add missing Telegram WebApp API classes and fields (#1424)
  CHANGES/1424.bugfix.rst
  aiogram/utils/web_app.py
  tests/test_utils/test_web_app.py
Labels: 3.x

#1426 doc added for missing Telegram WebApp API classes and fields
  CHANGES/1424.bugfix.rst
  docs/locale/uk_UA/LC_MESSAGES/utils/web_app.po
  docs/utils/web_app.rst
Labels: docs, docs-i18n
