Repository aiogram/aiogram, pull requests merged in 2024-06, with the labels that each got.

#1504 Add Dependencies to migrations guide
  CHANGES/1504.doc.rst
  docs/migration_2_to_3.rst
Labels: docs, 3.x

#1508 Apply isort
  aiogram/client/bot.py
  aiogram/methods/__init__.py
  examples/multibot.py
  tests/test_utils/test_formatting.py
Labels: 3.x, skip news

#1512 Bump dev dependencies
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Makefile
  aiogram/client/session/middlewares/manager.py
  aiogram/dispatcher/middlewares/manager.py
  aiogram/dispatcher/middlewares/user_context.py
  aiogram/filters/command.py
  aiogram/types/bot_command_scope_all_chat_administrators.py
  aiogram/types/bot_command_scope_chat_administrators.py
  aiogram/types/passport_element_error_translation_file.py
  aiogram/types/passport_element_error_translation_files.py
  aiogram/utils/keyboard.py
  aiogram/utils/media_group.py
  aiogram/utils/payload.py
  examples/context_addition_from_filter.py
  examples/echo_bot_webhook.py
  examples/echo_bot_webhook_ssl.py
  examples/own_filter.py
  pyproject.toml
  tests/test_dispatcher/test_dispatcher.py
Labels: 3.x, skip news

#1510 Fail redis and mongo tests if incorrect URI provided + some storages tests refactoring
  CHANGES/1510.bugfix.rst
  aiogram/filters/command.py
  examples/multibot.py
  tests/conftest.py
  tests/test_fsm/storage/test_isolation.py
  tests/test_fsm/storage/test_mongo.py
  tests/test_fsm/storage/test_storages.py
Labels: 3.x

#1506 `InputFile` reuse recommendations update
  docs/api/upload_file.rst
Labels: 3.x, skip news

#1514 Add DNS cache ttl setting to aiohttp session.
  CHANGES/1500.bugfix.rst
  aiogram/client/session/aiohttp.py
Labels: 3.x

#1519 Corrected typo
  CHANGES/1519.doc.rst
  docs/dispatcher/finite_state_machine/scene.rst
Labels: 3.x
