Repository aiogram/aiogram, pull requests merged in 2024-08, with the labels that each got.

#1551 Added full support of Bot API 7.8
  .apiversion
  .butcher/methods/pinChatMessage/entity.json
  .butcher/methods/setStickerSetThumbnail/entity.json
  .butcher/methods/unpinChatMessage/entity.json
  .butcher/schema/schema.json
  .butcher/types/User/entity.json
  CHANGES/1551.feature.rst
  Makefile
  README.rst
  aiogram/__meta__.py
  aiogram/client/bot.py
  aiogram/methods/pin_chat_message.py
  aiogram/methods/set_sticker_set_thumbnail.py
  aiogram/methods/unpin_chat_message.py
  aiogram/types/chat.py
  aiogram/types/message.py
  aiogram/types/user.py
  docs/api/methods/send_paid_media.rst
  examples/multibot.py
  tests/conftest.py
Labels: api, 3.x

#1507 Precalculate StateGroup values
  CHANGES/1507.misc.rst
  aiogram/fsm/state.py
Labels: enhancement, 3.x

#1474 Add getting user from `chat_boost`
  CHANGES/1474.feature.rst
  aiogram/dispatcher/middlewares/user_context.py
  tests/test_dispatcher/test_middlewares/test_user_context.py
Labels: 3.x

#1560 Added full support of Bot API 7.9
  .apiversion
  .butcher/methods/createChatSubscriptionInviteLink/entity.json
  .butcher/methods/createChatSubscriptionInviteLink/replace.yml
  .butcher/methods/editChatSubscriptionInviteLink/entity.json
  .butcher/methods/editForumTopic/entity.json
  .butcher/methods/editGeneralForumTopic/entity.json
  .butcher/methods/sendPaidMedia/entity.json
  .butcher/methods/setMessageReaction/entity.json
  .butcher/schema/schema.json
  .butcher/types/ChatMemberMember/entity.json
  .butcher/types/ChatMemberMember/replace.yml
  .butcher/types/Message/entity.json
  .butcher/types/ReactionType/entity.json
  .butcher/types/ReactionTypePaid/entity.json
  .butcher/types/TransactionPartnerUser/entity.json
  .github/workflows/pull_request_changelog.yml
  CHANGES/1560.feature.rst
  Makefile
  README.rst
  aiogram/__meta__.py
  aiogram/client/bot.py
  aiogram/methods/__init__.py
  aiogram/methods/create_chat_subscription_invite_link.py
  aiogram/methods/edit_chat_subscription_invite_link.py
  aiogram/methods/edit_forum_topic.py
  aiogram/methods/edit_general_forum_topic.py
  aiogram/methods/send_paid_media.py
  aiogram/methods/set_message_reaction.py
  aiogram/types/__init__.py
  aiogram/types/chat.py
  aiogram/types/chat_full_info.py
  aiogram/types/chat_member_member.py
  aiogram/types/message.py
  aiogram/types/message_reaction_updated.py
  aiogram/types/reaction_count.py
  aiogram/types/reaction_type.py
  aiogram/types/reaction_type_paid.py
  aiogram/types/transaction_partner_user.py
  docs/api/methods/create_chat_subscription_invite_link.rst
  docs/api/methods/edit_chat_subscription_invite_link.rst
  docs/api/methods/index.rst
  docs/api/types/index.rst
  docs/api/types/reaction_type_paid.rst
  pyproject.toml
  scripts/bump_versions.py
  tests/test_api/test_methods/test_create_chat_subscruption_invite_link.py
  tests/test_api/test_methods/test_edit_chat_subscruption_invite_link.py
  tests/test_dispatcher/test_middlewares/test_user_context.py
Labels: api, 3.x
