Repository aiogram/aiogram, pull requests merged in 2024-09, with the labels that each got.

#1570 Bot API 7.10
  .butcher/methods/createInvoiceLink/entity.json
  .butcher/methods/sendInvoice/entity.json
  .butcher/methods/sendPaidMedia/entity.json
  .butcher/schema/schema.json
  .butcher/types/ChatBoostSourceGiveaway/entity.json
  .butcher/types/ChatInviteLink/entity.json
  .butcher/types/Giveaway/entity.json
  .butcher/types/GiveawayCompleted/entity.json
  .butcher/types/GiveawayCreated/entity.json
  .butcher/types/GiveawayWinners/entity.json
  .butcher/types/InputInvoiceMessageContent/entity.json
  .butcher/types/PaidMediaPurchased/entity.json
  .butcher/types/TransactionPartnerUser/entity.json
  .butcher/types/Update/entity.json
  CHANGES/1510.feature.rst
  aiogram/client/bot.py
  aiogram/dispatcher/middlewares/user_context.py
  aiogram/dispatcher/router.py
  aiogram/enums/update_type.py
  aiogram/methods/create_invoice_link.py
  aiogram/methods/send_invoice.py
  aiogram/methods/send_paid_media.py
  aiogram/types/__init__.py
  aiogram/types/chat_boost_source_giveaway.py
  aiogram/types/chat_invite_link.py
  aiogram/types/chat_join_request.py
  aiogram/types/chat_member_updated.py
  aiogram/types/giveaway.py
  aiogram/types/giveaway_completed.py
  aiogram/types/giveaway_created.py
  aiogram/types/giveaway_winners.py
  aiogram/types/input_invoice_message_content.py
  aiogram/types/message.py
  aiogram/types/paid_media_purchased.py
  aiogram/types/transaction_partner_user.py
  aiogram/types/update.py
  docs/api/types/index.rst
  docs/api/types/paid_media_purchased.rst
  tests/test_api/test_types/test_message.py
  tests/test_dispatcher/test_dispatcher.py
Labels: api, 3.x

#1575 Feature/aliases inaccessible message
  .butcher/types/InaccessibleMessage/aliases.yml
  CHANGES/1574.feature.rst
  aiogram/types/inaccessible_message.py
  docs/api/methods/send_animation.rst
  docs/api/methods/send_audio.rst
  docs/api/methods/send_contact.rst
  docs/api/methods/send_dice.rst
  docs/api/methods/send_document.rst
  docs/api/methods/send_game.rst
  docs/api/methods/send_invoice.rst
  docs/api/methods/send_location.rst
  docs/api/methods/send_media_group.rst
  docs/api/methods/send_message.rst
  docs/api/methods/send_paid_media.rst
  docs/api/methods/send_photo.rst
  docs/api/methods/send_poll.rst
  docs/api/methods/send_sticker.rst
  docs/api/methods/send_venue.rst
  docs/api/methods/send_video.rst
  docs/api/methods/send_video_note.rst
  docs/api/methods/send_voice.rst
  tests/test_api/test_types/test_inaccessible_message.py
Labels: 3.x

#1576 Increase `pydantic` max version (`<2.9` -> `<2.10`)
  CHANGES/1576.feature.rst
  pyproject.toml
Labels: 3.x

#1577 Bump aiofiles version upper bound to <24.2
  CHANGES/1577.feature.rst
  pyproject.toml
Labels: enhancement, 3.x

#1580 #1579 Fixed `Default` object annotation resolution in `pydantic` models.
  CHANGES/1579.bugfix.rst
  aiogram/types/__init__.py
  aiogram/types/update.py
  pyproject.toml
  tests/test_dispatcher/test_dispatcher.py
Labels: bug, 3.x

#1584 Fix pytest-asyncio deprecation warning in test
  CHANGES/1584.bugfix.rst
  tests/test_utils/test_chat_action.py
Labels: 3.x
