Repository aiogram/aiogram, pull requests merged in 2024-04, with the labels that each got.

#1447 Add default bot properties and clean imports
  examples/echo_bot.py
Labels: 3.x, skip news

#1459 Bump actions versions
  .github/workflows/pull_request_changelog.yml
  .github/workflows/pypi-release.yml
  .github/workflows/tests.yml
Labels: 3.x, skip news

#1460 loosened pydantic upper bound to <2.8
  CHANGES/1460.misc.rst
  pyproject.toml
Labels: 3.x

#1468 Add context manager support for bot client
  CHANGES/1468.feature.rst
  aiogram/client/bot.py
  docs/index.rst
  examples/without_dispatcher.py
  tests/test_api/test_client/test_bot.py
Labels: enhancement, 3.x

#1458 Fix missing error logging
  CHANGES/1458.bugfix.rst
  aiogram/dispatcher/dispatcher.py
Labels: 3.x

#1470 Fixed display of regular expressions in documentation
  docs/dispatcher/filters/command.rst
Labels: bug, docs, 3.x, confirmed, skip news

#1473 docs: Correct a typo error
  docs/dispatcher/dispatcher.rst
Labels: 3.x, skip news
