Repository aiogram/aiogram, pull requests merged in 2025-02, with the labels that each got.

#1640 Update scene.rst
  CHANGES/1640.bugfix.rst
  docs/dispatcher/finite_state_machine/scene.rst
Labels: 3.x

#1634 Docs: Fix annotations
  CHANGES/1634.doc.rst
  docs/dispatcher/class_based_handlers/base.rst
  docs/locale/uk_UA/LC_MESSAGES/dispatcher/class_based_handlers/base.po
Labels: docs, 3.x

#1626 Prevent endless loop with buttons
  CHANGES/1595.bugfix.rst
  aiogram/utils/keyboard.py
  tests/test_utils/test_keyboard.py
Labels: bug, 3.x
