Repository aiogram/aiogram, pull requests merged in 2025-01, with the labels that each got.

#1623 Added full support of Bot API 8.2
  .butcher/methods/getUpdates/entity.json
  .butcher/methods/removeChatVerification/entity.json
  .butcher/methods/removeUserVerification/entity.json
  .butcher/methods/sendGift/entity.json
  .butcher/methods/setStickerSetThumbnail/entity.json
  .butcher/methods/setWebhook/entity.json
  .butcher/methods/verifyChat/entity.json
  .butcher/methods/verifyUser/entity.json
  .butcher/schema/schema.json
  .butcher/types/BackgroundTypePattern/entity.json
  .butcher/types/Gift/entity.json
  .butcher/types/InlineQueryResultArticle/entity.json
  .butcher/types/InlineQueryResultGif/entity.json
  .butcher/types/InlineQueryResultMpeg4Gif/entity.json
  .butcher/types/InputSticker/entity.json
  CHANGES/1623.feature.rst
  aiogram/client/bot.py
  aiogram/methods/__init__.py
  aiogram/methods/remove_chat_verification.py
  aiogram/methods/remove_user_verification.py
  aiogram/methods/send_gift.py
  aiogram/methods/set_sticker_set_thumbnail.py
  aiogram/methods/set_webhook.py
  aiogram/methods/verify_chat.py
  aiogram/methods/verify_user.py
  aiogram/types/background_type_pattern.py
  aiogram/types/gift.py
  aiogram/types/inline_query_result_article.py
  aiogram/types/inline_query_result_gif.py
  aiogram/types/inline_query_result_mpeg4_gif.py
  aiogram/types/input_sticker.py
  docs/api/methods/index.rst
  docs/api/methods/remove_chat_verification.rst
  docs/api/methods/remove_user_verification.rst
  docs/api/methods/verify_chat.rst
  docs/api/methods/verify_user.rst
  tests/test_api/test_client/test_session/test_aiohttp_session.py
  tests/test_api/test_methods/test_remove_chat_verification.py
  tests/test_api/test_methods/test_remove_user_verification.py
  tests/test_api/test_methods/test_verify_chat.py
  tests/test_api/test_methods/test_verify_user.py
Labels: api, 3.x

#1624 Fix link formatting
  docs/locale/uk_UA/LC_MESSAGES/migration_2_to_3.po
  docs/migration_2_to_3.rst
Labels: docs, skip news

#1612 Remove path to string convertion
  CHANGES/1612.misc.rst
  aiogram/client/bot.py
  aiogram/client/telegram.py
  tests/test_api/test_client/test_api_server.py
  tests/test_api/test_client/test_bot.py
Labels: 3.x

#1629 fix typo in ukrainian docs
  docs/locale/uk_UA/LC_MESSAGES/index.po
Labels: 3.x, skip news

#1631 Bump redis max version to <5.3.0
  CHANGES/1631.misc.rst
  pyproject.toml
Labels: 3.x

#1630 Fix `BAD_PATTERN` regex in deeplinking process.
  CHANGES/1630.bugfix.rst
  aiogram/utils/deep_linking.py
  tests/test_utils/test_deep_linking.py
Labels: bug, 3.x

#1628 fix: change the `Downloadable` protocol to be non-writable to shut up type checking that checks code that uses the `bot.download(...)` method
  CHANGES/1628.bugfix.rst
  aiogram/types/downloadable.py
Labels: 3.x, typing
